*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}
body,html{ 
    height:100%; 

}
body{
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    margin: 15px auto;
    color: white;
    text-shadow: 1px 1px 2px #CF5454 ;
    background: -moz-linear-gradient(330deg, rgba(255,0,255,1) 0%, rgba(56,69,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,0,255,1)), color-stop(100%, rgba(56,69,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(330deg, rgba(255,0,255,1) 0%, rgba(56,69,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -ms-linear-gradient(330deg, rgba(255,0,255,1) 0%, rgba(56,69,255,1) 100%); /* ie10+ */
    background: linear-gradient(120deg, rgba(255,0,255,1) 0%, rgba(56,69,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00ff', endColorstr='#3845FF',GradientType=1 ); /* ie6-9 */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contenedor{
     width: 90%;
     margin: 15px auto;
     text-align: center;

}
header{
    width: 100%;
    height: auto;
    margin-top: 15px auto;
    margin-bottom:20px;
    line-height: 35px;
}

.contenedor section{
    position: relative;
	background: #DBEDE7;
	width: inherit;
	margin: 15px auto;
	padding: 15px 15px;
    text-align: center;
	display: inline-block;
	box-shadow: 10px 5px 3px #60C3F6;
    -webkit-box-shadow: 10px 5px 3px #60C3F6;
    -moz-box-shadow: 10px 5px 3px #60C3F6;

}

.contenedor section > div {
	position: relative;
    background: #6A30AC;
	margin: 25px 15px;
	width: 180px;
    height: 90px;
    line-height: 70px;
	padding: 10px 10px;
	vertical-align: middle;
	font-weight: bolder;
	text-align: center;
	display: inline-block;
}
section > .fade {
    position: relative;
    margin: 15px 5px;
    width: inherit;
    height: inherit;
    line-height: inherit;
    padding: inherit;
    overflow: hidden;
    
}
.contenedor section div .tapa{
   
    width: inherit;
    height: inherit;
    background: #DBEDE7;
    top: 0px;
    left: 180px;
    position: absolute;
    z-index: 1;
    overflow: hidden;  


}
.contenedor .accion{
    text-align: center;
}
.btn {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #3485D8;
    color: #fff;
    display: inline-block;
    padding: 12px 30px;
    margin: 15px auto;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
a:hover{
	background: #80D1C3;

}

footer{
    margin: 10px;
    padding: 20px 20px;
}
